.utl{
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 80px;
    position: absolute;
    width: auto;
    height: 29px;
    margin-left: 55%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    top: 29px;
    }
    #email{
        color: blue;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
        isolation: isolate;
        
        position: absolute;
        width: 1652.24px;
        height: 133px;
        left: 134px;
        top: 2250px;
        bottom: 5rem;
        

    }
    #lineFooter{
        width: 1660.09px;
    height: 0px;
    border: 3px solid #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
    }
    footer p{
        width: 280px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        height: 0px;
        padding-left: 5rem;
    } 
    footer .img1{
        display: flex;
        flex-direction: row;
        padding: 0px;
        gap: 33px;
        position: absolute;
        width: 150px;
        height: 64px;
        left: 1395px;
        top: 33px;    
    }
    footer img{
        width: 58px;
        height: 64px;
        border-radius: 10px;
    }
    .answer{
display: flex;
gap: 165px;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: absolute;
width: 980px;
height: 1090px;
left: 630px;
top: 740px;
width: 899px;
height: 320px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 40px;
color: #000000;
}

#dots1{
    top: 370px;
    position: absolute;
}

#dots{
    list-style-type: decimal;
}

.question{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 330px;
    isolation: isolate;
    font-size: 36;
    position: absolute;
    width: auto;
    height: 918px;
    left: 485px;
    top: 653px;
}
#who{
   
position: absolute;
width: auto;
height: 48px;
left: 485px;
top: 653px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;

}
#what{
    position: absolute;
    width: auto;
    height: 48px;
    left: 485px;
    top: 1047px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    
}


#why{
    position: absolute;
    width: auto;
    height: 48px;
    left: 485px;
    top: 1750px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 49px;
    line-height: 48px;
}

h1{
    text-transform: capitalize;
}
#pic1{
    position: absolute;
    width: 169px;
    height: 360px;
    left: 1751px;
    top: 1163px;
}
#pic2{
    position: absolute;
width: 163px;
height: 136px;
left: 286px;
top: 1874px;

    
}
#pic3{
    
position: absolute;
width: 72px;
height: 69px;
left: 347px;
top: 485px;
}
#pic4{
    
    position: absolute;
    width: 178px;
    height: 185px;
    left: 1720px;
    top: 291px;
}
#pic5{
    position: absolute;
width: 82px;
height: 83px;
left: 1676px;
top: 1734px;    
}
#pic6{
    position: absolute;
    width: 121px;
    height: 742px;
    left: 198px;
    top: 741px; 
}
#pic7{
    position: absolute;
width: 353px;
height: 482px;
left: 808px;
top: 143px;
border-radius: 98px;
}

.backGround{
    position: absolute;
width: 293px;
height: 466px;
left: 838px;
top: 131px;

background: #D9D9D9;
border-radius: 141px;
}