.utl{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 86px;
position: absolute;
width: auto;
height: 29px;
margin-left: 55%;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
color: #000000;
top: 29px;
}

#email{
    color: blue;
}

footer{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 12px;
isolation: isolate;

position: absolute;
width: 1652.24px;
height: 106px;
left: 134px;
bottom:2rem
}

#lineFooter{
    width: 1660.09px;
height: 0px;
border: 3px solid #000000;
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}

footer p{
    width: 280px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    height: 0px;
    padding-left: 5rem;
}

footer .img1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 33px;
    
    position: absolute;
    width: 150px;
    height: 64px;
    left: 1395px;
    top: 33px;
}

footer img{
    width: 58px;
    height: 64px;
    border-radius: 10px;
}